

@function ramdomColor(){
	$max: 255;
	$red: random($max);
	$green: random($max);
	$blue: random($max);
	$hex: ie-hex-str(rgb($red, $green, $blue));
	@debug inspect($hex);
	@return $hex; 
	//debugueamos el color
}