*{
	box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
#app{
	@include desktop {
		width: $desktop-width;
		height: $desktop-height;
		margin: 0;
		padding: 0;
		overflow: hidden;
		@include center-absoluete;
	}
	@include movil {
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}
}
.stage{
	margin: 0;
	padding: 0;
	@include desktop {
		width: $desktop-width;
		height: $desktop-height;
		@include center-absoluete;
	}
	@include movil {
		width: 100%;
		overflow-x: hidden;
	}
}