
#stage1{
	background-image: url(./images/tri-1.png) ,  url(./images/tri-2.png) , url(./images/fondo.jpg) ;
	background-repeat: no-repeat;
	background-position: 0 100% , 100% 0;
	&_title{
		@include desktopLayout((
			width: 300px,
			height: 65px,
			left: 0,
			top: 30px,
		));
	}
	&_main{
		background-image: url(./images/arco.png);
		background-repeat: no-repeat;
		background-position: 200px 50px;
		@include desktopLayout((
			width: 824px,
			height: 400px,
			left: 100px,
			top: 100px,
		));
		&_btn1{
			cursor: pointer;
			@include desktopLayout((
				width: auto,
				height: auto,
				left: 70px,
				top: 220px
			));
		}
		&_btn2{
			cursor: pointer;
			@include desktopLayout((
				width: auto,
				height: auto,
				left: 140px,
				top: 90px
			));
		}
		&_btn3{
			cursor: pointer;
			@include desktopLayout((
				width: auto,
				height: auto,
				left: 390px,
				top: 20px
			));
		}
		&_btn4{
			cursor: pointer;
			@include desktopLayout((
				width: auto,
				height: auto,
				right: 40px,
				top: 90px
			));
		}
		&_btn5{
			cursor: pointer;
			@include desktopLayout((
				width: auto,
				height: auto,
				right: -30px,
				top: 220px
			));
		}
	}
}
#popup{
	&_close{
		cursor: pointer;
		@include desktopLayout((
			width: auto,
			height: auto,
			right: 70px,
			top: 120px
		));
	}
	.fondo{
		@include desktopLayout((
			width: 910px,
			height: auto,
			left: 60px,
			top: 110px
		));
	}
	.container{
		@include desktopLayout((
			width: 810px,
			height: 375px,
			left: 100px,
			top: 110px
		));
		@include flexGroupElemets((
			flex-direction: row,
			justify-content: space-between,
			align-items: center,
			gap: 20px
		));
		//seleciono segundo div
		& > :nth-child(2){
			font-family: 'Century Gothic Regular';
			color: #FFF;
			
			height: 300px;
			overflow: hidden;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: justify;
			padding:10px 10px 10px 0;
			&::-webkit-scrollbar {
				width: 8px; /* Ancho del scrollbar */
				height: 8px; /* Altura del scrollbar */
			}
			&::-webkit-scrollbar-track {
				background: #f1f1f1; /* Color del track del scrollbar */
			}
			&::-webkit-scrollbar-thumb {
				background: #888; /* Color del thumb del scrollbar */
			}
			&::-webkit-scrollbar-thumb:hover {
				background: #555; /* Color del thumb del scrollbar cuando se le hace hover */
			}
			& p{
				padding-top: 10px;
				display: block;
				font-size: 14px;
				& b{
					font-family: 'Century Gothic Bold';
				}
			}
			& ul{
				//ponemos bolitas de items
				list-style: disc;
				li{
			
					padding-top: 10px;
					font-size: 14px;
					margin-left: 30px;
				}
			}
		}
	}
}
/*#stage_hola {
	@include desktop(){
		@include desktopLayout((
			width: 50%,
			height: 60px,
			left: 20px,
			top: 100px,
			debugger: true
		));
		overflow: hidden;
		
	}
	@include movil(){
		height: 200px;
	}
}*/